html {
    overflow-y: scroll;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "navbar navbar navbar"
        "header header header"
        ". body ."
        ". footer ."
}

#main-content {
    border: 1px solid;
    grid-area: body;
    padding: 7.5% 10%;
}

#navbar {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    grid-area: navbar;
    height: 100%;
    justify-content: center;
}

#navbar:hover{
}

#navbar a {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1em;
}

#header {
    margin: auto;
    grid-area: header;
    padding: 1em;
}

#footer {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    grid-area: footer;
    margin: auto;
    padding: 4em;
}

#footer li {
    text-align: center;
}