/*
    This css file is for setting fonts and styling
    It shouldn't be visible in production!
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cantata+One');

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}


a {
    font-weight: bold;
}


textarea, input {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

textarea {
    line-height: 1.7em;
    padding: 1.5em;
}


#header {
    font-family: 'Cantana One', serif;
    font-size: 3rem;
}

#main-content {
    line-height: 1.8rem;
}

#navbar {
    font-size: 1.5rem;
}